@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>



@code {
    private int currentCount = 0;

    private void IncrementCount()
    {

        if (currentCount < 17)
        {
            currentCount++;
        }
    }
    int n = 0;
    void useK(int k)
    {
        n = k;
    }
}
<h3>test </h3>
@(n)
<ProjectArtKul_blazor.Components.Component n="10" handler="(k)=>useK((int)k)"></ProjectArtKul_blazor.Components.Component>


