@page "/index2"

<h1>Это регистрация:</h1>
<h2 style="float:right; border:2px solid; margin-top:5px; ">@(text2)</h2>
<input @bind="text" placeholder="" /><br />
<ProjectArtKul_blazor.Components.Component1></ProjectArtKul_blazor.Components.Component1>
<input @bind="text3" placeholder="заголовок" />
<button @onclick="OK">Отправить</button>
<ProjectArtKul_blazor.Components.MyCom p1="Я ракета"></ProjectArtKul_blazor.Components.MyCom>


@foreach (string s in list)
{
<div style="background-color:aquamarine; margin:10px;width:300px; height:300px; border:1px dashed; padding:10px">
    <h4 style="text-align:center; ">@(text3)</h4><br />
                                               <p1>@(s)</p1><br />
    @(DateTime.Now)
    <p1 style="float:right; ">Автор:@(text2)</p1>
</div>

    //@(arrg[num2])
}

@code {
    string text = "Начнем";
    string text2 = "";
    string text3 = "";
    List<string>
    list = new List<string>();
    void OK()
    {
        list.Add(text);
    }
    //string[] arrg = { "Привет!", "Пока", "Как дела", "Как настроение", "Улыбнись" };
    //static Random rnd = new Random();
    //int num = rnd.Next(0, 4);
    //static Random rnd2 = new Random();
    //int num2 = rnd2.Next(0, 4);
}
<br />
