<h3>test</h3>
<ProjectArtKul_blazor.Components.Component n="10" handler="(k)=>useK((int)k)"></ProjectArtKul_blazor.Components.Component>
@(n)
@code {
    int n = 8;
    void useK(int k)
    {
        n = k;
    }
}

