@page "/"

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebART</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/Class.css" />
</head>
<body>
    <div>
        <div class="shapka">
        </div>
        <div class="photogal">
        </div>
        <div class="info">
        </div>
        <div class="but1">
        </div>
        <div class="but2">
        </div>
        <div class="footer">
        </div>
    </div>
</body>
</html>

