@page "/"

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WebART</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/Class.css" />
</head>
<body>
    <div class="glav">
        <div id="shapka">
            <div class="menu"><WebART.Components.Menu></WebART.Components.Menu></div>
            <img src="css/i.png" style="width:50px; height:50px;margin-left:90px;margin-top:-40px;" />
            <a href="https://vk.com/lshup?ysclid=l5vyf54ahy354297898"><img src="css/vk.jpg" class="vk" /></a>
            <a href="https://t.me/LSHUP"><img src="css/Telega.png" class="tel" /></a>
            <a href="" class="href">ИнформБюро</a>
            <input class="hide" id="hd-2" type="checkbox">
            <label for="hd-2" class="text">Вход </label>
            <div><WebART.Components.Registration handler="(u)=>setuser((Classes.Person) u)"></WebART.Components.Registration></div>
            <p style="text-align:center;font-family:LeoHand;font-size:45px;margin-top:-50px;margin-left:17%">Простота — залог надежности.</p>
            @*<a href="" class="href">Информация</a>
        <a href="" class="href">Новости</a>*@
            <div class="but" style="margin-left:40%;background-color:red">
            </div>
        </div>

        @*<div class="photogal">
            <WebART.Components.Pictures></WebART.Components.Pictures>
        </div>*@
        <div style="float:left; margin-left:45px;">
            <WebART.Components.Button></WebART.Components.Button>
        </div>
        <WebART.Components.Pictures1></WebART.Components.Pictures1>


        <div class="info">
            <h1 style="text-align:center;font-family:LeoHand">Информация</h1>
            Летняя школа юных программистов, основанная в 1976 году академиком Андреем Петровичем Ершовым и проводящаяся ежегодно иси СО РАН, в течение многих лет выполняла функции отработки методики
            преподавания программирования в образовательных учреждениях. ЛШЮП дала начало информатике как учебной дисциплине в школах, сформировала круг специалистов, до сих пор являющихся лидерами в мировом сообществе программистов.
        </div>
        <a href="https://skillbox.ru/media/code/yazyk-s-gde-ispolzuyut-chto-pishut-kak-poyavilsya-i-chem-khorosh/"><img src="css/c.jpg" style="width:900px; height:700px;margin-left:30%;" /></a>
        @*<p class="rad">
            Как вам Летняя Школа Юных Программистов?<br />
            <input type="radio" name="drink" value="rad1"> Мне не понравилась<br />
            <input type="radio" name="drink" value="rad2"> Можно и лучше<br />
            <input type="radio" name="drink" value="rad3"> Хорошо<br />
            <input type="radio" name="drink" value="rad4"> Отлично<br />
            <input type="radio" name="drink" value="rad5"> Лучше не бывает<br />
            <button>ОК</button>
        </p>*@

        @*<div class="nobut">
            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><h1 style="text-align:center; margin:70px;color:white">Не нажимать</h1></a>
        </div>*@

        <div class="news"><WebART.Components.News></WebART.Components.News></div>
        <a href="#" title="" class="topbutton">^Наверх</a>
        <div class="footer">
            <WebART.Components.Footer></WebART.Components.Footer>
        </div>
    </div>
</body>
</html>


@*<div style="float:right; width:auto"><webart.components.registration handler="(u)=>setuser((classes.person)u)"></webart.components.registration></div>*@
@if (user != "")
{
<div class="chat"><WebART.Components.Chat></WebART.Components.Chat></div>

}
@code {
    public string user = "";

    void setuser(Classes.Person u)
    {
        user = u.nickname;
    }
}


