<h3>Component</h3>
<button class="btn btn-primary" @onclick="OP">Don't click me</button>
@code {
    [Parameter]
    public int n{ get; set; }
    [Parameter]
    public EventCallback handler { get; set; }
    int clicks = 0;

    void OP()
    {
        clicks++;
        handler.InvokeAsync(clicks);
        }

    //handler.InvokeAsync((int)10)
}


