
<link rel="stylesheet" href="css/Untitled.css" />
@*<a href="#" title="" class="topbutton">^Наверх</a>*@
<div style="text-align:center; background-color:#0b9cf6; height:100px; padding:20px;">
    @*<div class="In">
        <a href="#" title="" class="In">
            <span style="color:white;font-size:20px;text-align:center">Информбюро 2022</span>
        </a>
    </div>*@
    <img style="background-color: transparent" src="Img/Без названия.png" height="45" width="75" />
    <a href="https://www.nsu.ru/n/">
        <span style="margin-left:8px;padding:20px">
            НГУ
        </span>
    </a>
    <a href="https://ssyp.ru/">
        <span style="margin-left:8px;">
            ЛШЮП
        </span>
    </a>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="text2">
        <span style="margin-right:20px">Политика конфидициальности</span>
    </a>
    <img src="Img/NSU.png" height="50" width="175" />
</div>