@page "/test2"
@if (cr == true)
{
    <table border="1" style="background: #00c9ff; background: linear-gradient(to right, #00c9ff, #92fe9d); 
        box-shadow: 7px 7px 5px rgba(0,0,0,0.6);-webkit-touch-callout:none;-webkit-user-select:none; 
        -moz-user-select:none; -moz-user-select:none; user-select:none;">
        <tr>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(1)">
                @s1

            </td>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(2)">
                @s2

            </td>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(3)">
                @s3
            </td>
        </tr>
        <tr>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(4)">
                @s4

            </td>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(5)">
                @s5

            </td>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(6)">
                @s6
            </td>
        </tr>
        <tr>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(7)">
                @s7

            </td>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(8)">
                @s8

            </td>
            <td width="100" height="100" style="text-align:center; font-size: 40px; " @onclick="() => nagatie(9)">
                @s9
            </td>
        </tr>


    </table>
}
@*@foreach (int I in y)
{
    @I
}*@
@if (cr == false)
{
    <div style="background: #02aab0; background: -webkit-linear-gradient(to right, #02aab0, #00cdac); background: linear-gradient(to right, #02aab0, #00cdac); 
       font-size: 20px; width: 260px; margin-left: 20px; padding: 30px; margin-top:30px;">@ss<br />
    <button style="background: #dae2f8;  background: -webkit-linear-gradient(to right, #dae2f8, #d6a4a4);  background: linear-gradient(to right, #dae2f8, #d6a4a4);" @onclick = "Again">Играть снова</button></div>
}
@code{
    void Again()
    {
        cr = true;
        s1 = "";
        s2 = "";
        s3 = "";
        s4 = "";
        s5 = "";
        s6 = "";
        s7 = "";
        s8 = "";
        s9 = "";
        ss = "Победил игрок X!";
        u = "";
        b = 0;
        y = new int[] { 0, 0, 0, 0, 0, 0, 0, 0, 0 };
    }
}
@code
{
    string ss = "Победил игрок X!";
    bool cr = true;
    string u = "";
    int b = 0;
    int[] y = new int[] { 0, 0, 0, 0, 0, 0, 0, 0, 0 };
    string s1 = "";
    string s2 = "";
    string s3 = "";
    string s4 = "";
    string s5 = "";
    string s6 = "";
    string s7 = "";
    string s8 = "";
    string s9 = "";
    void protivnik()
    {
        Random rnd = new Random();
        int rand = rnd.Next(9);
        int n = y[rand];

    }
    void nagatie(int k)
    {
        

        if (k == 1 & y[0] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[0]++;
            s1 = u;
            b++;
        }
        if (k == 2 & y[1] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[1]++;
            s2 = u;
            b++;
        }
        if (k == 3 & y[2] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[2]++;
            s3 = u;
            b++;
        }
        if (k == 4 & y[3] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[3]++;
            s4 = u;
            b++;
        }
        if (k == 5 & y[4] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[4]++;
            s5 = u;
            b++;
        }
        if (k == 6 & y[5] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[5]++;
            s6 = u;
            b++;
        }
        if (k == 7 & y[6] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[6]++;
            s7 = u;
            b++;
        }
        if (k == 8 & y[7] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[7]++;
            s8 = u;
            b++;
        }
        if (k == 9 & y[8] == 0)
        {
            protivnik();
            if (b % 2 == 0)
            {
                u = "X";
            }
            else
            {
                u = "O";
            }
            y[8]++;
            s9 = u;
            b++;
        }
        if (s1 == "X" & s2 == "X" & s3 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s4 == "X" & s5 == "X" & s6 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s7 == "X" & s8 == "X" & s9 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s1 == "X" & s4 == "X" & s7 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s2 == "X" & s5 == "X" & s8 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s3 == "X" & s6 == "X" & s9 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s1 == "X" & s5 == "X" & s9 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s3 == "X" & s5 == "X" & s7 == "X")
        {
            cr = false;
            ss = "Победил игрок X!";
        }
        if (s1 == "O" & s2 == "O" & s3 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (s4 == "O" & s5 == "O" & s6 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (s7 == "O" & s8 == "O" & s9 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (s1 == "O" & s4 == "O" & s7 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (s2 == "O" & s5 == "O" & s8 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (s3 == "O" & s6 == "O" & s9 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (s1 == "O" & s5 == "O" & s9 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (s3 == "O" & s5 == "O" & s7 == "O")
        {
            cr = false;
            ss = "Победил игрок O!";
        }
        if (y[0] == 1 & y[1] == 1 & y[2] == 1 & y[3] == 1 & y[4] == 1 & y[5] == 1 & y[6] == 1 & y[7] == 1 & y[8] == 1 & cr == true)
        {
            cr = false;
            ss = "Ничья!";
        }
    }



}