@page "/News"
    <div style="text-align:center;">
        <div>
            <h1>Новости</h1>
            <h2>Новость дня:</h2>
        </div>

        <div style="text-align:center; margin-left:300px;">

            <table style="text-align:center;">
                <tr>
                    <td style="border: 2px solid;  border-radius:5px;">

                        <img src="/css/misha2.png" width="325" height="200" /><br />
                        Победитель соревновательной игры по ИИ
                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <h2>Мастерские:</h2>
                    </td>
                </tr>
                <tr>
                    <td style="border: 2px solid; border-radius: 5px; ">
                        <img src="/css/mas/mas1.png" width="325" height="200" /><br />
                        Отличаем Натали Портман от Киры Найтли
                    </td>
                    <td style="border: 2px solid; border-radius: 5px; width: auto ; ">
                        <img src="/css/mas/mas2.jpg" width="325" height="200" /><br />
                        Поколение Логики
                    </td>
                    <td style="border: 2px solid; border-radius: 5px; ">
                        <img src="/css/mas/mas3.png" width="325" height="200" /><br />
                        Много бит тому назад
                    </td>
                    <td style="border: 2px solid; border-radius: 5px;  ">
                        <img src="/css/mas/mas4.png" width="325" height="200" /><br />
                        Сгенерируй их всех!
                    </td>
                </tr>
                <tr>

                    <td style="border: 2px solid; border-radius: 5px; width: auto ; ">
                        <img src="/css/mas/mas5.jpg" width="325" height="200" /><br />
                        Вставайте, Граф, Вас ждут великие дела!
                    </td>
                    <td style="border: 2px solid; border-radius: 5px; ">
                        <img src="/css/mas/mas6.jpg" width="325" height="200" /><br />
                        Черепашка и программирование
                    </td>
                    <td style="border: 2px solid; border-radius: 5px; ">
                        <img src="/css/mas/mas7.png" width="325" height="200" /><br />
                        ЛШЮП ИнформБюро
                    </td>
                    <td style="border: 2px solid; border-radius: 5px; width: auto ; ">
                        <img src="/css/mas/mas8.png" width="325" height="200" /><br />
                        Обработка естественных языков на ДНК
                    </td>
                </tr>
            </table>
        </div>
    </div>



    @code {





    }