@page "/News"
<h1>Новости</h1>
<h2>Новость дня:</h2>
<table>
    <tr>
        <td style="border: 2px solid;  border-radius:5px;">

            <img src="/d1b2cf3e2d.jpg" width="650" height="400" /><br />
            Текст
        </td>
    </tr>
    <tr>
        <td>
            <h2>Остальные новости:</h2>
        </td>
    </tr>
    <tr>
        <td style="border: 2px solid; border-radius: 5px;  % ">
            <img src="/1.jpg" width="650" height="400" /><br />
            Текст
        </td>
        <td width="30%;">
        </td>
        <td style="border: 2px solid; border-radius: 5px; ">
            <img src="/1.jpg" width="650" height="400" /><br />
            Текст
        </td>
    </tr>
    <tr>
        <td style="border: 2px solid; border-radius: 5px;  ">
            <img src="/1.jpg" width="650" height="400" /><br />
            Текст
        </td>
        <td>
        </td>
        <td style="border: 2px solid; border-radius: 5px; ">
            <img src="/1.jpg" width="650" height="400" /><br />
            Текст
        </td>
    </tr>
    <tr>
        <td style="border: 2px solid; border-radius: 5px; ">
            <img src="/1.jpg" width="650" height="400" /><br />
            Текст
        </td>
        <td>
        </td>
        <td style="border: 2px solid; border-radius: 5px; width: auto ; ">
            <img src="/1.jpg" width="650" height="400" /><br />
            Текст
        </td>
    </tr>
</table>





@code {





}