
@if (!auth)
{
    <div style="border:1px solid">
        @if (reg)
        {
            <input @bind="name" placeholder="Имя" />
            <div></div>
            <input @bind="name2" placeholder="Фамилия" />
            <div></div>
        }
        <input @bind="nickname" placeholder="Никнейм" />
        <div></div>
        <input @bind="password" placeholder="Пароль" />
        <div></div>
        @if (reg)
        {
            <input @bind="passwordR" placeholder="Повторите пароль" />
            <div></div>
            <button class="btn btn-primary" @onclick="addPerson">@(onBtn)</button>
            <div style="color:cadetblue;" @onclick="setTrue">Войти</div>
        }@if (!reg)
        {
            <button class="btn btn-primary" @onclick="enter">@(onBtnE)</button>
            <div style="color:cadetblue;" @onclick="setTrue">Зарегистрироваться</div>
        }
    </div>
}



@code {
    [Parameter]
    public EventCallback handler { get; set; }

    bool reg = false;
    bool auth = false;

    string name = "";
    string name2 = "";
    string nickname = "";
    string password = "";
    string passwordR = "";

    string onBtn = "Зарегистрироваться";
    string onBtnE = "Войти";
    public static List<WebART.Classes.Person> group = new List<Classes.Person>();

    private void addPerson()
    {

        if (name == "" || name2 == "" || nickname == "")
        {
            onBtn = "Заполните все поля";
            return;
        }
        if (password != passwordR)
        {
            onBtn = "Пароли не совпадают";
            return;
        }
        
        foreach (Classes.Person p in group)
        {
            if (p.name == name && p.name2 == name2)
            {
                onBtn = "Вы зарегистрированны! Войдите";
                return;
            }
            if (p.nickname == nickname)
            {
                onBtn = "Никнейм уже занят";
                return;
            }
        }
        auth = true;
        Classes.Person person = new Classes.Person() { name = name, name2 = name2, nickname = nickname, password = password };
        group.Add(person);
        handler.InvokeAsync(person);
        
    }
    private void enter()
    {
        if (nickname == "" || password == "")
        {
            onBtnE = "Заполните все поля";
            return;
        }
        foreach (Classes.Person p in group)
        {
            if (p.nickname == nickname)
            {
                reg = false;
                if (p.password == password)
                {
                    auth = true;
                    handler.InvokeAsync(p);
                }
                else
                {
                    onBtnE = "Неправильный пароль";
                }
                return;
            }
        }
        onBtnE = "Никнейм не найден";

    }
    private void setTrue()
    {
        if (reg)
        {
            reg = false;
        }
        else if (!reg)
        {
            reg = true;
        }
    }




}