@foreach (string i in YearCount)
{
    @if (Current_Year_Filter == i)
    {
        background = "cornflowerblue";
    }
    else
    {
        background = "white";
    }
    <button class="btn" style="background-color: @(background)" @onclick="() => func((string) i)">@i</button>
    <div style="height:1px"><br /></div>
}
@code {
    [Parameter]
    public EventCallback Year_Search { get; set; }
    List<string> YearCount = new List<string>()
{"2001", "2002", "2005", "2006", "2007",
     "2008", "2009"};
    string Current_Year_Filter = "";
    string background = "white";
    void func(string year)
    {
        if (Current_Year_Filter == year)
        {
            Current_Year_Filter = "";
        }
        else
        {
            Current_Year_Filter = year;
        }
        Year_Search.InvokeAsync((string)Current_Year_Filter);
    }
}