body {
    background-color: white;
    width: 1930px;
}

#shapka {
    width: 1930px;
    height: 100px;
    background-color: aliceblue;
    padding: 30px;
}
.photogal{
    width:1020px;
    height: 600px;
    background-color:greenyellow;
    margin-top:30px;
    margin-left:250px;
    margin-right:250px;
}
.info {
    width: 1430px;
    height: 200px;
    background-color: deepskyblue;
    margin-top: 30px;
    margin-left: 250px;
    margin-right: 250px;
    padding: 20px;
    border-radius:50px;
}
.href {
    float: right;
    margin-right: 80px;
    margin-top: 10px;
    color: blue;
    font-size: 17px;
    margin-top: 30px;
    margin-left:50px;
}
.vk {
    width: 50px;
    height: 50px;
    float: right;
    margin-top: 20px;
}
.tel {
    width: 90px;
    height: 50px;
    float: right;
    margin-top: 20px;
}
.but {
    float: left;
    width: 400px;
    height: 200px;
    background-color: aquamarine;
    border-radius: 300px;
    margin-top: 100px;
    text-align:center;
}
.news{
    /*background-color:deepskyblue;*/
    margin-top:20px;
    background-image:url(/css/back.jpg)
}

.rad{
    font-size:x-large;
    background-color:royalblue;
    width:400px;
    margin-left:35%;
    margin-top: 20px;
    padding: 20px;
}

/* скрываем чекбоксы и блоки с содержанием */
.hide, .hide + label ~ div {
    display: none;
}
    /* вид текста label */
    .hide + label,
    .hide:checked + label {
        padding: 0;
        color: blue;
        cursor: pointer;
        border-bottom: 1px dotted green;
    }
    /* вид текста label при активном переключателе */
    .hide:checked + label {
        color: red;
        border-bottom: 0;
    }
        /* когда чекбокс активен показываем блоки с содержанием  */
        .hide:checked + label + div {
            display: block;
            -moz-box-shadow: inset 3px 3px 10px #7d8e8f;
            -webkit-box-shadow: inset 3px 3px 10px #7d8e8f;
            box-shadow: inset 3px 3px 10px #7d8e8f;

        }
.text {
    float: right;
    margin-left: 50px;
    margin-top: 30px;
}
.nobut {
    float: left;
    width: 400px;
    margin-left:40%;
    height: 200px;
    background-color: red;
    border-radius: 300px;
    margin-top: 100px;
    text-align: center;
}
.chat {
    background-image: url(/css/backvk.png);
    height: 450px;
    float:left;
    position:absolute;
    margin-top:250px;

}
.footer{
    background-color:aquamarine;
    height:100px;
}
.topbutton {
    width: 100px;
    background: #f7f7f7;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer;
    color: #333;
    font-family: verdana;
    font-size: 12px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

    .topbutton:hover {
        text-decoration: none;
    }
.topbutton:hover {
    color: gray;
}
.menu{
    margin-left: -30px;
    margin-top:-30px;
}
.CH {
    position: absolute;
    margin-top: 700px;
    border-radius: 350px;
    background-color: deepskyblue;
}